# 环境变量配置示例，复制一份并命名为 .env，替换其中的值为你的实际配置

# ? 大模型配置
OPENAI_API_KEY=sk-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
OPENAI_BASE_URL=https://xxxxx.com/v1
OPENAI_MODEL=DeepSeek-V4-Flash
EMBEDDING_MODEL=GLM-Embedding-3
# ? Tavily 搜索引擎配置
TAVILY_API_KEY=tvly-dev-xxxxxxxxxxxx